<!DOCTYPE html>
<html ng-app="gamblingApp">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<title>Gambling Tracker</title>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>Entries</h1>
			<table border="1" class="table table-bordered table-condensed table-striped">
				<thead><tr>
					<th>Date</th>
					<th>Chop</th>
					<th>Amount</th>
					<th>Description</th>
					<th>From</th>
					<th>Into</th>
					<th>Operations</th>
				</tr></thead>
				<tbody id="entries">
				</tbody>
			</table>
			<button class="btn" id="addEntryButton">Add Entry</button>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h1>Chops</h1>
			<div id="chops">
				<div>
					<p class='lead'></p>
					<p>Started </p>
					<table border='1' class='table table-bordered table-condensed table-hover'>
						<thead>
							<th>Team</th>
							<th>Shares</th>
							<th>Result</th>
							<th>Actual</th>
							<th>Operations</th>
						</thead>
					</table>
					<p>
						<button class='btn'>Save</button>
						<button class='btn'>Add Participant</button>
						<button class='btn'>Close Chop</button>
					</p>
				</div>
			</div>
			<button class="btn" id="addChopButton">Add Chop</button>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8" ng-controller="PoolsCtrl">
			<h1>Pools</h1>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<thead><tr>
					<th>Team</th>
					<th>Description</th>
					<th>Balance</th>
					<th>Operations</th>
				</tr></thead>
				<tbody>
					<tr ng-repeat="pool in model.pools">
						<td>{{model.teams[pool.teamID].name}}</td>
						<td><input type="text" ng-model="pool.description"></td>
						<td>{{pool.balance}}</td>
						<td><button class="btn" ng-click="model.setPool(pool)">Save</button></td>
					</tr>
					<tr>
						<td><select ng-model="model.addPoolTeamID">
							<option ng-repeat="team in model.teams" value="{{team.teamID}}">{{team.name}}</option>
						</select></td>
						<td><input placeholder="Description" type="text" ng-model="model.addPoolDescription"></td>
						<td>0</td>
						<td><button class="btn" ng-click="model.addPool(model.addPoolTeamID, model.addPoolDescription)">Add Pool</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span4" ng-controller="TeamsCtrl">
			<h1>Teams</h1>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<thead><tr>
					<th>Name</th>
					<th>Operations</th>
				</tr></thead>
				<tbody>
					<tr ng-repeat="team in model.teams">
						<td><input type="text" ng-model="team.name"></td>
						<td><button class='btn' ng-click="model.setTeam(team)">Save</button></td>
					</tr>
					<tr>
						<td><input placeholder="Name" type="text" ng-model="model.addTeamName"></td>
						<td><button class="btn" ng-click="model.addTeam(model.addTeamName)">Add Team</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12" ng-controller="SQLCtrl">
			<h1>Execute SQL Statement</h1>
			<p>This can be used to SQL-inject yourself, so be careful! Only one statement allowed. See <a href="http://sqlite.org/lang.html">SQLite documentation</a> for what syntax is allowed.</p>
			<textarea class="input-block-level" ng-model="model.statement"></textarea>
			<button class="btn" ng-click="model.executeSQL(model.statement)">Execute SQL</button>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<tr ng-repeat="row in model.output.rows">
					<td ng-repeat="column in row">{{column}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-resource.min.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
</html>