<!DOCTYPE html>
<html data-ng-app="gamblingApp">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/bootstrap.min.css">
<title>Gambling Tracker</title>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>Entries</h1>
			<table border="1" class="table table-bordered table-condensed table-striped">
				<thead><tr>
					<th>Date</th>
					<th>Chop</th>
					<th>Amount</th>
					<th>Description</th>
					<th>From</th>
					<th>Into</th>
					<th>Operations</th>
				</tr></thead>
				<tbody id="entries">
				</tbody>
			</table>
			<button class="btn btn-default" id="addEntryButton">Add Entry</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" data-ng-controller="ChopsCtrl">
			<h1>Chops</h1>
			<div class="row" data-ng-repeat="row in model.chops | makeRows:2">
				<div class="col-lg-6 panel" data-ng-repeat="chop in row">
					<div class="panel-heading">
						<input class="form-control" placeholder="Chop Name" type="text" data-ng-model="chop.description">
					</div>
					<p>Started {{chop.started}}</p>
					<table border="1" class="table table-bordered table-condensed table-hover">
						<thead><tr>
							<th>Team</th>
							<th>Shares</th>
							<th>Result</th>
							<th>Actual</th>
							<th>Operations</th>
						</tr></thead>
						<tr>
							<td><select class="form-control" data-ng-model="model.addChopParticipantTeamID">
								<option data-ng-repeat="team in model.teams" value="{{team.teamID}}">{{team.name}}</option>
							</select></td>
							<td><input class="form-control" placeholder="Shares" type="Text" size="3" data-ng-model="model.addChopParticipantShares"></td>
							<td></td>
							<td></td>
							<td><button class="btn btn-default">Add Participant</button></td>
						</tr>
					</table>
					<p>
						<button class="btn btn-default" data-ng-click="model.setChop(chop)">Save</button>
						<button class="btn btn-danger" data-ng-click="model.closeChop(chop)">Close Chop</button>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 panel">
					<div class="panel-heading">
						<input class="form-control" placeholder="Chop Name" type="text" data-ng-model="model.addChopName">
						<h2 class="panel-title">{{chop.description}}</h2>
					</div>
					<p>
						<button class="btn btn-default" data-ng-click="model.addChop(model.addChopName)">Add Chop</button>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8" data-ng-controller="PoolsCtrl">
			<h1>Pools</h1>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<thead><tr>
					<th>Team</th>
					<th>Description</th>
					<th>Balance</th>
					<th>Operations</th>
				</tr></thead>
				<tbody>
					<tr data-ng-repeat="pool in model.pools">
						<td>{{model.teams[pool.teamID].name}}</td>
						<td><input class="form-control" type="text" data-ng-model="pool.description"></td>
						<td>{{pool.balance}}</td>
						<td><button class="btn btn-default" data-ng-click="model.setPool(pool)">Save</button></td>
					</tr>
					<tr>
						<td><select class="form-control" data-ng-model="model.addPoolTeamID">
							<option data-ng-repeat="team in model.teams" value="{{team.teamID}}">{{team.name}}</option>
						</select></td>
						<td><input class="form-control" placeholder="Description" type="text" data-ng-model="model.addPoolDescription"></td>
						<td>0</td>
						<td><button class="btn btn-default" data-ng-click="model.addPool(model.addPoolTeamID, model.addPoolDescription)">Add Pool</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-4" data-ng-controller="TeamsCtrl">
			<h1>Teams</h1>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<thead><tr>
					<th>Name</th>
					<th>Operations</th>
				</tr></thead>
				<tbody>
					<tr data-ng-repeat="team in model.teams">
						<td><input class="form-control" type="text" data-ng-model="team.name"></td>
						<td><button class="btn btn-default" data-ng-click="model.setTeam(team)">Save</button></td>
					</tr>
					<tr>
						<td><input class="form-control" placeholder="Name" type="text" data-ng-model="model.addTeamName"></td>
						<td><button class="btn btn-default" data-ng-click="model.addTeam(model.addTeamName)">Add Team</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" data-ng-controller="SQLCtrl">
			<h1>Execute SQL Statement</h1>
			<p>This can be used to SQL-inject yourself, so be careful! Only one statement allowed. See <a href="http://sqlite.org/lang.html">SQLite documentation</a> for what syntax is allowed.</p>
			<div class="input-group">
				<input class="form-control" data-ng-model="model.statement" type="text">
				<span class="input-group-btn">
					<button class="btn btn-danger" data-ng-click="model.executeSQL(model.statement)">Execute SQL</button>
				</span>
			</div>
			<table border="1" class="table table-bordered table-condensed table-hover">
				<tr data-ng-repeat="row in model.output.rows">
					<td data-ng-repeat="column in row">{{column}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-resource.min.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
</html>